# Dependencies
node_modules/
yarn.lock
pnpm-lock.yaml

# Next.js
.next/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
